/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	text-decoration: none;
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 800;display;block;
	max-width: 600px;
}

 h2 {font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	font-size: 4em;
	padding: 0 0 10px;
	color: rgb(150,142,132);
	margin: 0 1% 40px;
	text-align: left;
	box-shadow: 0 10px 0 rgba(0,0,0,0.02);
	text-shadow: 0 0 2px #fff;
}


h3 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 400;
	color: rgb(150,142,132);
	padding: 10px 2px 10px 2px;
}

h4 {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	color: rgb(150,142,132);
	
}
a:-webkit-any-link {text-decoration: none;}

p {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	color: #000;
	font-size: 1.2em;
	line-height: 1.6;
	text-align: justify;
	padding: 5px 8%;
}
#inline_content_1,#inline_content_2, #inline_content_3 ,#inline_content_4, #inline_content_5 ,#inline_content_6  {height:580px;
    overflow: scroll;
}
header h1 {
	max-width: 200px;
	margin-top: 20PX;
	margin-left: 10PX;
	display: block;
}


header h2{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	text-transform: uppercase;
text-align: center;
margin-top:30px
color: red;
margin-left:0px;
padding: 40px 20px 40px 20px;
}

.titre {
	font-family: 'raleway', sans-serif;
	
	font-weight: 800;
	max-width:100%;
	font-size:100px;
	
	color: #000;
}

.titre{
	padding: 60px 25px 40px 25px;
}
	

.titre_read {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 800;display;block;
	max-width: 100px;
	padding: 30px 25px 10px 25px;
	font-weight: 400;

	color: rgb(150,142,132);
}
	
.titre_text {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	padding: 60px 25px 10px 25px;
	font-weight: 400;
	letter-spacing: 5px;
	color: rgb(150,142,132);
	text-transform : uppercase;
	font-weight :bold;
	
	
}


a{
     color:rgb(150,142,132);}
     




/* tu peux changer ici raph */
.intro__image {

max-width: 100%;

height: auto;
position : absolute;
bottom : 0;


opacity: 0.8;

}



.learn-more-btn {
	font-family: 'Lato', Calibri, Arial, sans-serif;;
	font-weight: 300;
	background: rgb(150,142,132);
	padding: 20px 40px;
	
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	float: left;
	margin-top: 540PX;
	margin-left: 550px;
}

.learn-more-btn:hover, .learn-more-btn:focus {
	background: rgba(150,142,132,0.6);
	color: #fff;
}

.Read-more {
	display: block;
	margin-top: 450PX;
	margin-left: 480px;
	position: absolute;
	font-family: 'relaway', sans-serif;
	font-weight: 800;
	font-size: 70px;
	z-index: 3;
	text-transform: uppercase;
	color: #ffffff;
}







/*POUR LE TEXT COLORBOX*/
#inline_content_1{padding: 100PX 25px 30px 25px;color:red
}

/*POUR LE FONDINDEX 0*/
.item__image {

position: absolute;

top: 50%;

min-height: 100%;

width: 100%;

opacity: 0.7;

z-index: 0;

}





/* General grid styles */
.cbp-ig-grid {
	list-style: none;
	padding: 0 0 50px 0;
	margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
	content: " "; 
	display: table; 
}

.cbp-ig-grid:after { 
	clear: both; 
}

/* grid item */
.cbp-ig-grid li {
	width: 33%;
	float: left;
	height: 420px;
	text-align: center;

}

/* we are using a combination of borders and box shadows to control the grid lines */
.cbp-ig-grid li:nth-child(-n+3){
	border-top: none;
}

.cbp-ig-grid li:nth-child(3n-1),
.cbp-ig-grid li:nth-child(3n-2) {
	box-shadow: 1px 0 0 #ddd;
}

/* anchor style */
.cbp-ig-grid li > a {
	display: block;
	height: 100%;
	color: #47a3da;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

/* the icon with pseudo class for icon font */
.cbp-ig-icon {
	padding: 30px 0 0 0;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.cbp-ig-icon:before {
	font-family: 'anyoldicon';
	font-size: 14em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.cbp-ig-icon-shoe:before {
	content: "\e000";
}

.cbp-ig-icon-ribbon:before {
	content: "\e001";
}

.cbp-ig-icon-milk:before {
	content: "\e002";
}

.cbp-ig-icon-whippy:before {
	content: "\e003";
}

.cbp-ig-icon-spectacles:before {
	content: "\e004";
}

.cbp-ig-icon-doumbek:before {
	content: "\e007";
}

/* title element */
.cbp-ig-grid .cbp-ig-title {
	margin: 20px 0 10px 0;
	padding: 20px 0 0 0;
	font-size: 2em;
	position: relative;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.cbp-ig-grid .cbp-ig-title:before {
	content: '';
	position: absolute;
	background: rgb(150,142,132);
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hover styles */

.cbp-ig-grid li > a:hover {
	background: rgb(232,228,223);
}

.cbp-ig-grid li > a:hover .cbp-ig-icon {
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.cbp-ig-grid li > a:hover .cbp-ig-icon:before,
.cbp-ig-grid li > a:hover .cbp-ig-title {
	color: #fff;
}

.cbp-ig-grid li > a:hover .cbp-ig-title {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}

.cbp-ig-grid li > a:hover .cbp-ig-title:before {
	background: #fff;
	margin-top: 80px;
}


@media screen and (max-width: 62.75em) {
	.cbp-ig-grid li {
		width: 50%;
	}

	/* reset the grid lines */
	.cbp-ig-grid li:nth-child(-n+3){
		
	}

	.cbp-ig-grid li:nth-child(3n-1),
	.cbp-ig-grid li:nth-child(3n-2) {
		box-shadow: none;
	}

	.cbp-ig-grid li:nth-child(-n+2){
		border-top: none;
	}

	.cbp-ig-grid li:nth-child(2n-1) {
		box-shadow: 1px 0 0 #ddd;
	}
}

@media screen and (max-width: 41.6em) { 
	.cbp-ig-grid li {
		width: 100%;
	}

	.cbp-ig-grid li:nth-child(-n+2){
		border-top: 1px solid #ddd;
	}

	.cbp-ig-grid li:nth-child(2n-1) {
		box-shadow: none
	}

	.cbp-ig-grid li:first-child {
		border-top: none;
	}
}

@media screen and (max-width: 25em) { 
	.cbp-ig-grid {
		font-size: 80%;
	}

	.cbp-ig-grid .cbp-ig-category {margin-top: 20px
		
	
	}

.cbp-ig-category {margin-top: 20px;font-family: 'Lato', Calibri, Arial, sans-serif;
	font-weight: 300;
	color: rgb(150,142,132)}

